@import '../../../styles/fonts.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/events';

.staff-image {
  width: 100%!important;
  height: 575px!important;
  object-fit: cover;
}

#staff-title {
  @include titles;
  .add-Staff-Btn {
    @include yellow-buttons;
  }
}

.editStaffBtn {
  @include yellow-buttons;
}

.delete-staff-btn {
  @include red-buttons;
}
