@import '../../../styles/fonts.scss';

.staff-image {
  width: 100%!important;
  height: 575px!important;
  object-fit: cover;
}

.card {
  height: 100%;
  font-family: $allFonts;
}

#staff-collection h2 {
  font-family: $bigFonts;
  font-size: 50px;
}
