@import '../../../styles/colors.scss';
@import '../../../styles/events';
@import '../../../styles/fonts.scss';

.card .show-images {
  width: auto;
  height: 20rem;
  object-fit: cover;
}

.card .show-edit-btn {
  @include yellow-buttons;
}

.card .show-delete-btn {
  @include red-buttons;
}

