@import '../../../styles/fonts.scss';
@import '../../../styles/colors.scss';

img {
  width: 100%;
}

.card {
  height: 100%;
  font-family: $allFonts;
}

#shows h2 {
  font-family: $bigFonts
}

#add-new-show-btn {
  background-color: $primaryBlue;
}