@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/events';

.singleEventTitle {
  @include titles;
  text-align: center;
}

.eventSectionTitle {
  @include sectionTitle;
  padding-bottom: 5px;
}

.closeEventBtn {
  @include yellow-buttons;
}

.deleteEventBtn {
  @include red-buttons;
}


table,th, td {
  border: 1px solid white;

}

th, td {
  padding: 10px;
}

th {
  text-align: left;
}

.deleteEventBtn {
  margin: auto;

}

