@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/events';


.singleEventTitle {
  @include titles;
  text-align: center;
}

.eventSectionTitle {
  @include sectionTitle;
  margin: 0;
  padding: 10px;
}

.closeEventBtn {
  @include yellow-buttons;
}

.deleteEventBtn {
  @include red-buttons;
}

.blueButton {
  @include blue-buttons;
}

.filterTitle {
  font-family: $allFonts;
  font-size: .6em;
  font-weight: bold;
  color: black;
}

.filterField {
  width: 100%;
}

th, td {
  border: 1px solid white;
  padding: 10px;
}

th {
  text-align: left;
}

.deleteEventBtn {
  margin: auto;
}

.addEventItemBtn {
  position: absolute;
  top: 10px;
  right: 4px;
  color: #dde9ee;
  :hover {
    color: #343A40;
  }
}

#add-eventStaff, .addEventItemBtn {
  position: absolute;
  top: 10px;
  right: 4px;
  color: #dde9ee;
  :hover {
    color: #343A40;
  }
}

#chartDiv {
  width: 100%;
  height: 400px;
}

.alert {
  width: 100%;
  height: 40px;
  text-align: center !important;
  align-content: center !important;
}