@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/events';


.singleEventTitle {
  @include titles;
  text-align: center;

}

.eventSectionTitle {
  @include sectionTitle;
  margin: 0;
  padding: 10px;
}

.closeEventBtn {
  @include yellow-buttons;
}

.deleteEventBtn {
  @include red-buttons;
}


th, td {
  border: 1px solid white;
  padding: 10px;
}

th {
  text-align: left;
}

.deleteEventBtn {
  margin: auto;

}

#chartdiv {
  width: 100%;
  height: 400px;
}

