@mixin titles {
    background-color: $primaryRed;
    color: white;
    padding: 10px;
    margin: 10px 0px;
    h2 {
      font-family: $bigFonts;
      font-size: 3em;
    }
    h3 {
      font-family: $allFonts;
    }
}

@mixin sectionTitle {
  background-color: $primaryBlue;
  color: white;
  h4 {
    font-family: $bigFonts;
    font-size: 3em;
  }
}

@mixin yellow-buttons {
  margin: .5em;
  background-color: $gold;
  &:hover {
    background-color: #ffd54d;   
  }
}

@mixin red-buttons {
  margin: .5em;
  background-color: $primaryRed;
  color: white;
  &:hover {
    background-color: #a21129;
  }
}

@mixin blue-buttons {
  margin: .5em;
  background-color: $primaryBlue;
  color: white;
  &:hover {
    background-color: $primaryBlue;
  }
}

@mixin card-styles {
    height: 100%;
    font-family: $allFonts;
}
