@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './colors.scss';
@import './fonts.scss';

body {
  background-color: white;
}

nav {
  background-color: $mainText;
  color: $altText;
  font-family: $bigFonts; 
  
  div a {
    color: $altText;
    font-family: $allFonts;
    &:hover {
      color: $secondary;   
    }
  }
  
  button {
    background-color: $primaryBlue;
    padding: 10px;
    border-radius: 10px;
    border-color: $primaryBlue;
    color: $mainText;
  }
}