@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './colors.scss';
@import './fonts.scss';

body {
  background-color: white;
}

nav {
  background-color: $mainText;
  color: #dde9ee;
  font-family: $bigFonts; 
  
  div a {
    color: #dde9ee;
    font-family: $allFonts;
    &:hover {
      color: $secondary;   
    }
  }
}