@import '../../../styles/colors';
@import '../../../styles/fonts';

#foodTitle {
  font-family: $bigFonts;
}

h2 {
  font-family: $allFonts;
}

h3 {
  font-family: $allFonts;
}

p {
  font-family: $allFonts;
}
