@import '../../../styles/colors';
@import '../../../styles/fonts';

#foodTitle {
  background-color: $primaryRed;
  color: white;

  h2 {
    font-family: $bigFonts;
    font-size: 50px;
    -webkit-text-stroke: 1px $black;
  }

  #addFoodBtn {
    background-color: $gold;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: $gold;
    color: $black;
    font-family: $allFonts;
    font-size: 20px;
    &:hover {
      background-color: #ffd54d;   
    }
  }   
}

h3 {
  font-family: $bigFonts;
}

h4 {
  font-family: $allFonts;
}

h5 {
  font-family: $allFonts;
}

img {
  height: 350px;
  width: auto;
}

#editFoodBtn {
    background-color: $gold;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: $gold;
    color: $black;
    font-family: $allFonts;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    &:hover {
      background-color: #ffd54d;   
    }
}    

#deleteFoodBtn {
  background-color: $primaryRed;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  border: $gold;
  color: $white;
  font-family: $allFonts;
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 20px;
  &:hover {
    background-color: #a21129;   
  }
}
 

.foodCardBody {
  height: 300px;
}


.allFoodCards {
  border: solid 10px black;
}

.hide {
  display: none;
}

