
@import '../../../styles/colors';
@import '../../../styles/fonts';

.souvenir-card {  
  .souvenirs-edit-btn {
    background-color: $gold !important;
      &:hover {
        background-color: #ffd54d;   
      }
  }    
  
  .souvenirs-delete-btn {
    background-color: $primaryRed !important;
    color: white;
    &:hover {
      background-color: #a21129;   
    }
  }
 }
