
@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/main';

.souvenirsContainer {
  background-color: $primaryRed !important;
  color: white;
  padding: 10px;
  margin: 10px 0px;
  h2 {
    font-family: $bigFonts;
  }
  h3 {
    font-family: $allFonts;
  }
  .souvenirs-add-btn {
    margin: 0 auto;
    background-color: $gold !important;
    &:hover {
      background-color: #ffd54d;   
    }
  }
}
