
@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/events';

.souvenir-card {  
    .souvenirs-edit-btn {
    @include yellow-buttons;
  }    
  
  .souvenirs-delete-btn {
   @include red-buttons;
  }
 }
