@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/events';


.show-title {
  @include titles;
}

.show-title .new-show-btn {
  @include yellow-buttons
}

.update-show-btn {
  @include yellow-buttons
}

.save-new-show-btn {
  @include yellow-buttons
}